#hero {
  background-image: url("../../../public/assets/Categorias/Drone/drone_5.png") !important;
  background: #e3e6f3;
  height: 90vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: top 55% left 100%;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h4 {
  padding-bottom: 15px;
}

#hero h1 {
  color: #088178;
}

#hero button {
  background-image: url("../../../public/assets/Body/button.png");
  background-color: transparent;
  color: #088178;
  border: 0;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}
