.pro {
  width: 23%;
  min-width: 250px;
  padding: 10px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.12);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}

.pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
}

.pro img {
  height: 200px;
  width: 210px;
  border-radius: 20px;
}

.pro .des {
  height: 200px;
  text-align: start;
  padding: 10px 0;
}

.pro .des span {
  color: #606063;
  font-size: 12px;
}

.pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 18px;
}

.star {
  font-size: 18px;
  color: rgb(243, 181, 25);
}

.pro .des h4 {
  padding-top: 7px;
  font-size: 20px;
  font-weight: 700;
  color: #11615c;
}

.cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  font-size: 28px;
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}
